.book-summary ul.summary li.header {
    color: #273849;
    font-size: 19px;
    font-weight: 600;
}
.book-summary ul.summary li a, .book-summary ul.summary li span {
    font-size: 16px;
    color: #4f5959;
}
.book-summary ul.summary li:nth-last-of-type(2) {
    display: none;
}
.book-summary ul.summary li a.gitbook-link {
    display: none;
}
